STRIPE_API_KEY = 
STRIPE_PIPELINE_SNOWFLAKE_USER = 
STRIPE_PIPELINE_SNOWFLAKE_USER_PASSWORD =
STRIPE_PIPELINE_SNOWFLAKE_ACCOUNT = 
STRIPE_PIPELINE_SNOWFLAKE_WAREHOUSE = 
STRIPE_PIPELINE_SNOWFLAKE_DATABASE =